.tas-page {
  background-color: #f9f9f9;
}

.tas-page h2 {
  font-size: 2rem;
}

.tas-page ul {
  padding-left: 1rem;
  list-style: none;
}

.tas-page ul li::before {
  
  margin-right: 0.5rem;
  color: green;
}
